/* style.css */
:root {
    --color-dark-brown: #4C4341;
    --color-teal-green: #6A9289;
    --color-light-teal: #76A0A3;
    --color-pale-green: #BACCBC;
    --color-bright-red: #D16144;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-pale-green);
    color: var(--color-dark-brown);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container {
    margin: 50px auto;
    padding: 64px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: fit-content;
    transition: all 0.3s ease; /* Container size change animation */
    min-width: 512px;
}

/* if mobile */
@media (max-width: 768px) {
    .container {
        min-width: auto;
    }
}

.title-container {
    margin-bottom: 64px;
}

h1 {
    color: var(--color-bright-red);
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
    /* margin-bottom: 64px; */
}

.subtitle {
    color: var(--color-teal-green);
    font-size: 1.2em;
    text-align: center;
    /* margin-bottom: 64px; */
}

h2 {
    color: var(--color-light-teal);
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.service-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.service-links li {
    margin: 20px 0;
}

.service-links a {
    color: var(--color-dark-brown);
    text-decoration: none;
    border-bottom: 2px solid var(--color-dark-brown);
    padding: 5px 0;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.service-links a:hover {
    color: var(--color-bright-red);
    border-color: var(--color-bright-red);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--color-teal-green);
    color: #ffffff;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Directory Tree Styles */
ul {
    list-style-type: none;
    padding-left: 20px;
    transition: all 0.3s ease; /* Directory size change animation */
}

.folder {
    cursor: pointer;
    color: var(--color-dark-brown);
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.folder:hover {
    color: var(--color-bright-red);
}

li {
    margin: 10px 0;
}

.file {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--color-dark-brown);
    display: flex;
    align-items: center;
}

.file:hover {
    color: var(--color-bright-red);
    text-decoration: underline;
}

.file i,
.folder i {
    width: 50px; /* Ensure all icons have the same width */
    text-align: center;
    margin-right: 10px;
}
